@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html body{
    overflow-x: hidden;
}

.sticky-header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 1px #363636;
    width: 100vw;
    max-width: 100%;
}

.bi-person-fill{
    font-size: 35px;
    position: absolute;
    right: 40px;
    top: 11px;
}

.logo h1 a{
    text-decoration: none;
    color:#01070e;
}

.navigator ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigator li{
  position: relative;
}

.navigator li a{
    text-decoration: none;
    padding: 5px 15px;
    display: block;
    font-weight: bold;
    color:#363636;
}

.navigator li a:hover{
    color:#116ed6;
}

.dropdown-box{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 7px;
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    border-radius: 15px;
    width: 210px;
    background-color: #fff;
    z-index: 100;
}

.dropdown .dropdown-box a{
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
}

.dropdown .dropdown-box a:hover{
    color: #fff;
    background-color: #116ed6;
}

/*  FOR CONTENT */

.first_view{
    height: 88vh;
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(marikina.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.first_view h1{
    color: #fff;
    font-size: 44px;
}

.first_view p{
    margin: auto;
    align-self: center;
    width: 60%;
    color: #e6e3e3;
    font-size: 20px;
    padding: 20px 0px;
}

.fv-text{
    text-align: center;
    position: absolute;
    top: 11rem;
}

#btn-order{
    padding: 20px;
    background-color: transparent;
    border: 2.5px solid #116ed6;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    position: relative;
    top: 500px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#btn-order:hover{
    background-color: #116ed6;
    transform: scale(1.1);
}

.text-description{
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
    width: 60%;
}

/* documents */

.available-documents{
    text-align: center;
    padding: 40px 0px;
}

.available-documents h1, p{
    color:#363636;
}

.certificate-container{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate{
    display: inline-block;
    background-color: rgb(215, 237, 250);
    margin: 20px 40px;
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 350px;
    transition: .3s ease-in-out;
}

.certificate:hover{
    transform: scale(1.1);
}

.certificate p{
    font-size: 14px;
}

.certificate img{
    width: 100px;
    height: 100px;
}

.btn-certificate{
    border:none;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #4071a0;
    padding: 10px;
    margin: 20px 0px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.btn-certificate:hover{
    transform: scale(1.2);
    background-color: #116ed6;
}

footer{
    width: 100%;
    background-color: #01070e;
    color: #116ed6;
    position: relative;
}

.footer-container{
    padding: 50px 60px;
    display:flex;
    justify-content: space-between;
}
.footer p{
    color: #c0c0c0;
}

.footer-title{
    font-weight: bold;
}

.icon{
    text-align: center;
    padding: 20px;
}
.contact-us{
    width: 300px;
}
.partnership #psa{
    color: #116ed6;
}
.icon-logo{
    font-size: 30px;
    padding: 0px 10px;
}
.copyright{
    background-color: #000000;
    text-align: center;
    font-size: 13px;
}

#appointment {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

#appointment.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

#about-us{
    padding: 30px 0px;
}

.appointment-selection{
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
    top: 390px;
}

.selection-container img{
    height: 100px;
}

.selection-container a{
    text-decoration: none;
    color: #242323;
}
.selection-container{
    text-align: center;
    background-color: #cddef1;
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out;
}

.selection-container:hover{
    transform: scale(1.1);
}

/* walk-in html */

.online-appointment{
    height: 100vh;
    width: 40%;
    margin: auto;
}

.walk-in-appoinment-title{
    background-color: #cddef1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.appoinment-container{
    width: 90%;
    margin: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.178);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.form-group{
    margin: 10px;
    height: 75px;
}

#warningMsg{
    font-size: 15px;
    color: rgb(245, 164, 158);
    margin-left: 6px;
}

#warningMsgContact{
    font-size: 15px;
    color: rgb(245, 164, 158);
    margin-left: 6px;
}

.input-label{
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

.input-value{
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    color:#707070; 
    font-size: 15px;
    padding: 5px 10px;
}

#selectDocument option[disabled]{
    display: none;
}

.form-group-confirm{
    display: flex;
    gap: 10px;
    padding: 10px;
}

#confirmation-label{
    position:relative;
    top: 12px;
}

.submit-btn{
    text-align: center;
}

#submit-btn{
    width: 15%;
    height: 25%;
    padding: 7px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #4071a0;
    color: #ffff;
    transition: .3s ease-in-out;
    cursor: pointer;;
}

#submit-btn:hover{
    transform: scale(1.1);
}

#warningText{
    opacity: 0;
}

#warningText.show{
    opacity: 1;
}

.delivery-appoinment{
    height: 100vh;
}

.choose-document-type{
    width: 40%;
    height: 80vh;
    margin: auto;
    padding: 20px 0px;
}

.choose-document-type h3{
    margin-bottom: 10px;
}

.document-type{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.document-type button{
    border: none;
    height: 40px;
    margin: 10px 0px;
    font-weight: 500;
    color: #363636;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: .1s ease-in-out;
}

.document-type button.selected{
    background-color: #4071a0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.document-type button:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #4071a0;
    color: #fff;
}

.choose-for-type{
    height: 60vh;
    width: 40%;
    margin: auto;
}

.someone-self-container{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 50px;
    gap: 20px;
}

.choices-container{
    background-color: #b8cde2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
    transition: .3s ease-in-out;
}

.choices-container:hover{
    transform: scale(1.1);
}

.choices-container a{
    text-decoration: none;
    color: #303030;
}

.choices-container img{
    height: 100px;
    width: 100px;
}

.choose-for-type-title{
    background-color: #e5ebf3;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.btn-return{
    text-align: center;
    margin-top: 40px;
}
#btn-return{
    border: none;
    background-color:#4071a0;
    width: 10%;
    height: 10%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
#btn-return:hover{
    background-color: #2c4f70;
}

.termsandPolicy{
    background-color: #d5dce4;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
}

.choose-type-submit{
    text-align: center;
    margin-top: 40px;
}
#choose-type-submit{
    border: none;
    background-color:#4071a0;
    color:#fff;
    width: 10%;
    height: 10%;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

#type-back-btn{
    border: none;
    background-color:#4071a0;
    color:#fff;
    width: 80px;
    height: 10%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


